{% extends 'base.html' %}
{% load static %}

{% block title %}Contact - Kri Events{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock %}

{% block content %}

    <div class="containers mt-5">
        <div class="contact-container">
            <img src="{% static 'images/main.png' %}" alt="Kri Events Logo">
            <h2>Kri Events</h2>
            <p class="text-center text-white">We'd love to hear from you!</p>
            
            <!-- Django Form -->
            <form id="contact-form" method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
            
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
            

            <!-- Success Message -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
