
       
       body{
        background: linear-gradient(135deg, #f2c6c6, #350c0c);
            padding-top: 80px;
            color: white;
            font-family: Arial, sans-serif;
        }
        .contact-container {
            max-width: 600px;
            background: #d6c4b579;
            backdrop-filter: blur(10px);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
            margin: auto;
            transition: all 0.3s ease-in-out;
        }
        
        .contact-container img {
            display: block;
            margin: 0 auto 20px;
            width: 160px;
            filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.5));
        }
        h2 {
            text-align: center;
            text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.6);
        }
        .form-control {
            border-radius: 5px;
        }
        .btn-primary {
            background: #3b2a1e;
            border: none;
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            transition: all 0.3s;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        }
        .btn-primary:hover {
            background: #8b6b4e;
            transform: translateY(-2px);
        }
        .message-success {
            display: none;
            text-align: center;
            color: #000000;
            font-weight: bold;
            margin-top: 10px;
        }
     